/* Style the body */
body {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}


/******************************************************************************************
HEADER
******************************************************************************************/

/* flex box for the header */
.flex_header {
    display: flex;
    background: #1cd2d9;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* .flex_header_title */
.flex_title {
    padding: 20;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: white;
    margin: 15px;
    margin-left: 5px;
}

/* flex_user */
.flex_user {
    padding: 20;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: #149599;
    margin-left: 5px;
    margin-bottom: 15px;
}


/* .flex_header_menu */
.flex_menu {
    display: flex;
    align-items: flex-end;
}

/* flex_menu_item */
.flex_menu_item {
    padding: 20;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: #0d6266;
    margin-right: 40px;
}


/* rotating fan icon */
/* icon source: https://www.freepik.com */
.rotate {
    animation: rotation 8s infinite linear;
    margin: 5px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



/******************************************************************************************
SETTINGS
******************************************************************************************/

.flex_settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 0px;
    margin: 0px;
}

.info {
    font-size: 15px;
    font-style: italic;
    color: #0d6266;
    margin-left: 30px;
    margin-top: 10px;
}


/**************************************
LOGIN ACTIVITY
**************************************/

.flex_log {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    margin: 20px;
    flex-basis: auto;
    flex-grow: 1;
    
    border-style: solid;
    border-width: 1px;
    border-color: #1cd2d9;
    border-radius: 10px;
    
    box-shadow: 2px 1px 10px rgb(0 0 0 / 0.3);
}

.flex_log_data {
    color: #0d6266;
    font-size: 20px;
    font-weight: normal;
    
    margin-bottom: 15px;
    margin-left: 30px;
}


/**************************************
ACCOUNT SETTINGS
**************************************/

.flex_acc_settings {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
}

input.flex_acc_settings_input {
    font-size: 20px;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-top: 15px;
    margin-left: 30px;
}

button.flex_acc_settings_input {
    font-size: 20px;
    margin-top: 15px;
}

h3.flex_acc_settings_input {
    margin-left: 30px;
}

/**************************************
CHANGE PASSWORD
*/

.flex_acc_change_pw {
    color: #0d6266;
    font-size: 20px;
    font-weight: normal;
    
    padding: 10px;
    margin: 20px;
    
    padding-bottom: 20px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #1cd2d9;
    border-radius: 10px;
    
    box-shadow: 2px 1px 10px rgb(0 0 0 / 0.3);
}

/**************************************
ADD NEW USER
*/

.flex_acc_add_user {
    color: #0d6266;
    font-size: 20px;
    font-weight: normal;
    
    padding: 10px;
    margin: 20px;
    padding-bottom: 20px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #1cd2d9;
    border-radius: 10px;
    
    box-shadow: 2px 1px 10px rgb(0 0 0 / 0.3);
}
