<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <link rel="icon" type="image/png" href="/public/img/favicon_col_60x60.png" sizes="60x60">
        <title>Help - VentPro</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_menu">
                <a href="/" ><img src="/public/img/ventilator_white.png" class="rotate" /></a>
                <a href="/" class="flex_title" id="flex_title">VentPro</a>
            </div>
            
            <div class="flex_menu" id="flex_menu">
                <a href="/help" class="flex_menu_text_active" id="menu_help_text">
                    Help
                </a>
                <a href="/help" class="flex_menu_item" id="menu_help">
                    <img src="/public/img/help_center_black_24dp.svg" class="menu_icon_active" />
                </a>
                
                <a href="/control_panel" class="flex_menu_text_inactive" id="menu_control_panel_text">
                    Control Panel
                </a>
                <a href="/control_panel" class="flex_menu_item" id="menu_control_panel">
                    <img src="/public/img/tune_black_24dp.svg" class="menu_icon_inactive" />
                </a>
                
                <a href="/settings" class="flex_menu_text_inactive" id="menu_settings_text">
                    Settings
                </a>
                <a href="/settings" class="flex_menu_item" id="menu_settings">
                    <img src="/public/img/settings_black_24dp.svg" class="menu_icon_inactive" />
                </a>
                
                <a href="/logout" class="flex_menu_text_inactive" id="menu_logout_text">
                    Log out
                </a>
                <a href="/logout" id="logout" class="flex_menu_item" >
                    <img src="/public/img/logout_black_24dp.svg" class="menu_icon_inactive" />
                </a>
            </div>
        </div>
        
        
        
        
        
        <div class="flex_help">
            <div class="flex_help_box">
                Add help page here
                
                <div style="height: 500px">
                    Placeholder
                </div>
                
                <div class="flex_help" style="justify-content: space-between;">
                    <button id="help_button_back" class="help_button" disabled="true">Back</button>
                    <button id="help_button_next" class="help_button">Next</button>
                </div>
            </div>
        </div>
        
        
        <script async src="./public/js/help.js"></script>
    </body>
</html>
