<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <title>VentPro - Logout</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_menu">
                <a href="/" ><img src="/public/img/ventilator_white.png" class="rotate" /></a>
                <a href="/" class="flex_title">VentPro</a>
            </div>
            
            <div class="flex_menu">
                <a href="/" class="flex_menu_item">Log in</a>
            </div>
        </div>
        
        
        
        
        
        <div style="text-align: center;">
            Logout page: work in progress
        </div>
        
        <script async src="./public/js/logout.js"></script>
    </body>
</html>

