<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <link rel="icon" type="image/png" href="/public/img/favicon_col_60x60.png" sizes="60x60">
        <title>Logout - VentPro</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_menu">
                <a href="/" ><img src="/public/img/ventilator_white.png" class="rotate" /></a>
                <a href="/" class="flex_title">VentPro</a>
            </div>
            
            <div class="flex_menu">
                <a href="/" class="flex_menu_item">Log in</a>
            </div>
        </div>
        
        
        
        
        
        <div style="text-align: center; margin-top: 50px;">
            logout page: work in progress
        </div>
        
        <script async src="./public/js/logout.js"></script>
    </body>
</html>

