<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <title>VentPro</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_title">
                VentPro
            </div>
            
            <div class="flex_menu">
                <a href="/" class="flex_menu_item">Log in</a>
            </div>
        </div>
        
        
        <script async src="./public/js/logout.js"></script>
    </body>
</html>

