<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <link rel="icon" type="image/png" href="/public/img/favicon_col_60x60.png" sizes="60x60">
        <title>Logout - VentPro</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_menu">
                <a href="/" ><img src="/public/img/ventilator_white.png" class="rotate" /></a>
                <a href="/" class="flex_title" id="flex_title">VentPro</a>
            </div>
            
            <div class="flex_menu" id="flex_menu">
            </div>
        </div>
        

 
        <div class="flex_logout">
            <div class="flex_logout_box">
                <form action="/login_user" class="logout_form" id="login_form" method="post">
                    <h3>You are currently logged out</h3>
                    <label style="margin-top: 30px;">Please log in to use VentPro.</label>
                    <div class="input-field">
                        <input type="text" name="username" id="username" placeholder="Enter Username">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" id="password" placeholder="Enter Password">
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Log in">
                    </div>
                </form>
                
                <label style="color: rgb(109, 0, 0); font-size: 14px; margin-top: 20px;" id="label_error"><%= error %></label>
                
                <div style="height: 60px; width: 300px;" id="spacer">
                </div>
            </div>
        </div>
        
        <script async src="./public/js/logout.js"></script>
    </body>
</html>

