<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./public/style/style.css">
        <title>VentPro</title>
    </head>
    
    <body>
        <!--   header   -->
        <div class="flex_header">
            <div class="flex_menu">
                <img src="/public/img/ventilator_white.png" class="rotate" width="70" height="70" />
                <a href="/" class="flex_title">VentPro</a>
                <div class="flex_user">
                    
                    <%= username %>
                </div>
            </div>
            
            <div class="flex_menu">
                <a href="/" class="flex_menu_item">Control Panel</a>
                <a href="/settings" class="flex_menu_item">Settings</a>
                <a href="/" id="logout" class="flex_menu_item">Log out</a>
            </div>
        </div>
        
        
        <!--   settings page   -->
        <div class="flex_settings" id="flex_settings">
        
            <!--   log in activity   -->
            <div class="flex_log" id="log_users">
                <div class="flex_log_data">
                    <h3>Log in activity</h3>
                </div>
            </div>
            
            <!--   account settings   -->
            <div class="flex_acc_settings" id="flex_acc_settings">
                <form class="flex_acc_change_pw" id="flex_acc_change_pw">
                    <h3 class="flex_acc_settings_input">Change your password</h3>
                    <input type="password" id="new_pw" class="flex_acc_settings_input" placeholder="Enter a new password">
                    <button class="flex_acc_settings_input" id="set_pw">OK</button>
                </form>
                <form class="flex_acc_add_user" id="flex_acc_add_user">
                    <h3 class="flex_acc_settings_input">Add a new user</h3>
                    <input type="text" id="add_user_username" class="flex_acc_settings_input" placeholder="Enter a new username"></br></br>
                    <input type="password" id="add_user_password" class="flex_acc_settings_input" placeholder="Enter a new password">
                    <button class="flex_acc_settings_input" id="add_user">OK</button>
                    <div class="info" style="margin-top: 27px;">Only admins can add a new user.</div>
                </form>
            </div>
        </div>
        
        
        <script async src="./public/js/settings.js"></script>
    </body>
</html>

